.products {
    width: 100%;
}

.product {
    height: 600px;
    margin: auto;
    position: relative;
    width: 1220px;
}

.product__info {
    height: 297px;
    position: absolute;
    top: 151.5px;
    width: 645px;
    z-index: 2;
}

.product:nth-child(odd) .product__info {
    left: 0;
}

.product:nth-child(even) .product__info {
    right: 0;
}

.product__title {
    font-weight: 500;
}

.product__description {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    position: relative;
    text-align: left;
    top: 6px;
}

.product__line {
    border-top: 3px solid rgba(255, 51, 51, 1);
    height: 99px;
    margin-top: 34px;
    position: relative;
    width: 100%;
}

.product__link {
    background: rgba(48, 52, 63, 1);
    border-radius: 50px;
    bottom: 0;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    padding: 18px 48px;
    position: absolute;
    text-align: left;
    text-decoration: none;
}

.product__image {
    height: 600px;
    position: absolute;
    top: 0;
    width: 600px;
    z-index: 1;
}

.product:nth-child(odd) .product__image {
    right: 0;
}

.product:nth-child(even) .product__image {
    left: 0;
}

.product__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}