/*Checkear que estilos del carousel pueden exportarse a styles.css*/

.news {
    height: 623px;
    margin: 0 auto 68px;
    width: 1223px;
}

.news__carousel {
    height: 512px;
    position: relative;
    top: 57px;
    width: 100%;
}

.news__list {
    list-style-type: none;
}

.news__item {
    height: 100%;
    width: 359.97px;
}

.news__article {
    position: relative;
}

.news__image {
    display: inline-block;
    height: 352px;
    width: 359.97px;
}

.news__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.news__status {
    background: rgba(255, 51, 51, 1);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 17px;
    letter-spacing: 0em;
    padding: 7px 22.5px 6px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;   
    width: 96.13px;
}

.news__content {
    height: 160px;
    position: relative;
    width: 100%;
}

.news__category {
    color: rgba(51, 51, 51, 1);
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    left: 14.32px;
    letter-spacing: 0em;
    position: absolute;
    text-align: left;
    top: 28px;
}

.news__product-name {
    color: rgba(17, 17, 17, 1);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: 14.32px;
    line-height: 22px;
    letter-spacing: 0em;
    position: absolute;
    text-align: left;
    top: 58px;
}

.news__price {
    color: rgba(51, 51, 51, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 14.32px;
    line-height: 19px;
    letter-spacing: 0em;
    position: absolute;
    text-align: left;
    top: 93px;
}

.news__installments {
    color: rgba(29, 132, 181, 1);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: 14.32px;
    line-height: 15px;
    letter-spacing: 0em;
    position: absolute;
    text-align: left;
    top: 126px;
}

.news__carousel-control-prev, .news__carousel-control-next {
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    display: inline-block;
    height: 35.55px;
    position: absolute;
    top: 183.22px;
    width: 35.33px;
    z-index: 2;
}

.news__carousel-control-prev {
    left: 0;
}

.news__carousel-control-next {
    right: 0;
}

.news__carousel-control-icon {
    color: rgba(89, 89, 89, 1);
    display: inline-block;
    height: 11.59px;
    position: absolute;
    width: 8.61px;
}

.news__carousel-control-prev > .news__carousel-control-icon {
    left: 12.79px;
    top: 12.02px;
}

.news__carousel-control-next > .news__carousel-control-icon {
    bottom: 12.02px;
    right: 12.79px;
}