/*Posicionamiento de la estructura general de la página*/

body {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 368px 1fr;
    grid-template-rows: auto 1fr auto;

}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
}

aside {
    box-sizing: border-box;
    grid-area: aside;
}

main {
    box-sizing: border-box;
    /* background-color: burlywood; */
    grid-area: main;
}

footer {
    grid-area: footer;
    
}

/*-----------------------------------------------------*/
/*Grilla de cartas de productos*/

.product-list__items {
    /* background-color: cadetblue; */
    align-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 1608px;
    justify-content: space-between;
    left: 0;
    margin-top: 68px;
    position: relative;
    width: 960.03px;
}

.product-list__item {
    /* background-color:indianred; */
    display: inline-block;
    height: 512px;
    width: 304.01px;
}

.product-card__image {
    height: 352px;
}

.product-card__status {
    padding-left: 15.89px;
    padding-right: 15.89px;
    width: 81.18px;
}

.product-card__category, 
.product-card__title, 
.product-card__price, 
.product-card__installments {
    left: 12.09px;
}

/*-----------------------------*/

.pagination {
    height: 44px;
    margin: 68px 413.67px 68px auto;
    position: relative;
    width: 356px;
}

.pagination__item {
    border: 1px solid rgba(223, 227, 232, 1);
    border-radius: 4px;
    box-sizing: border-box;
    height: 44px;
    list-style-type: none;
    width: 44px;
}

.pagination__control-prev {
    background: rgba(145, 158, 171, 1);
}

.pagination__control--disabled {
    border: none;
    opacity: 0.5;
}

.pagination__link--control {
    display: inline-block;
    height: 33px;
    margin: 5.5px;
    width: 33px;
}

.pagination__svg--prev, .pagination__svg--next {
    box-sizing: border-box;
    display: inline-block;
    height: 16.5px;
    width: 10.19px;
}

.pagination__svg--prev {
    margin: 8.25px 10.78px 8.25px 12.03px;
}

.pagination__svg--next {
    margin: 8.25px 12.03px 8.25px 10.78px;
}

.pagination__link {
    color: rgba(33, 43, 54, 1);
    display: inline-block;
    font-size: 16px;
    /* height: 34px; */
    /* margin: 5px 4px; */
    text-align: center;
    vertical-align: bottom;
    /* width: 36px; */
}

.pagination__item--selected {
    border-color: rgba(255, 51, 51, 1);
}

.pagination__link--selected {
    color: rgba(255, 51, 51, 1);
}